# Dependencies
frontend/node_modules
backend/__pycache__
backend/**/__pycache__

# Build artifacts
frontend/dist

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
frontend/.env.local
backend/.env

# Docs locais
GEMINI.md
GEMINI-backend.md
git.md
docs/

# Pastas Ocultas
.gemini
.github
.gemini/
.github/
