Flask
Flask-SQLAlchemy
Flask-Cors
SQLAlchemy
Werkzeug
PyMySQL
python-dotenv
Flask-Migrate
requests
pytz
psycopg2-binary
Pillow
gunicorn

# AI — Langchain
langchain
langchain-core
langchain-openai
langchain-google-genai

# YouTube Transcript API
youtube-transcript-api

# Google OAuth & YouTube Data API v3
google-auth
google-auth-oauthlib
google-api-python-client